In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv('data_cleaned.csv')

In [ ]:
df.head()

   Survived   Age     Fare  ...  Embarked_C  Embarked_Q  Embarked_S
0         0  22.0   7.2500  ...           0           0           1
1         1  38.0  71.2833  ...           1           0           0
2         1  26.0   7.9250  ...           0           0           1
3         1  35.0  53.1000  ...           0           0           1
4         0  35.0   8.0500  ...           0           0           1

[5 rows x 25 columns]

#Max Voting

In [ ]:
x = df.drop(['Survived'] , axis=1)
y = df['Survived']

In [ ]:
from sklearn.model_selection import  train_test_split
train_x, test_x , train_y , test_y = train_test_split(x,y, random_state=54 , stratify=y , test_size=0.25)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
#Logistic Regression model
model1 = LogisticRegression()
model1.fit(train_x , train_y)
predict_1 = model1.predict(test_x)

model1.score(test_x , test_y)
len(predict_1)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

223

In [ ]:
#KNN Model
model2 = KNeighborsClassifier(n_neighbors=5)
model2.fit(train_x , train_y)
predict_2 =model2.predict(test_x)
model2.score(test_x , test_y)
len(predict_2)

223

In [ ]:
#Decision Tree
model3 = DecisionTreeClassifier(max_depth=7)
model3.fit(train_x ,train_y)
predict_3 = model3.predict(test_x)
model3.score(test_x, test_y)
len(predict_3)

223

In [ ]:
final_predict=[]
from statistics import  mode
for i in range(0,len(predict_1)):
  final_predict.append(mode([predict_1[i] , predict_2[i] , predict_3[i]]))
final_pred = np.array(final_predict)

In [ ]:
data1 = pd.DataFrame({
    'LR':predict_1,
    'KNN':predict_2,
    'DT':predict_3,
    'Final':final_pred
})

In [ ]:
data1.head()

   LR  KNN  DT  Final
0   0    0   0      0
1   0    1   0      0
2   0    0   0      0
3   0    1   0      0
4   0    0   0      0

In [ ]:
from sklearn.metrics import accuracy_score
len(test_y)

223

In [ ]:
k = accuracy_score(test_y, final_pred)
print(k , model1.score(test_x, test_y) , model2.score(test_x, test_y) , model3.score(test_x, test_y))

0.7982062780269058 0.8026905829596412 0.7085201793721974 0.7982062780269058

In [ ]:
k

0.7982062780269058

#Averaging

In [ ]:
data = pd.read_csv('train_cleaned.csv')

In [ ]:
data.head(10)

   Item_Weight  ...  Outlet_Type_Supermarket Type3
0        9.300  ...                              0
1        5.920  ...                              0
2       17.500  ...                              0
3       19.200  ...                              0
4        8.930  ...                              0
5       10.395  ...                              0
6       13.650  ...                              0
7        0.000  ...                              1
8       16.200  ...                              0
9       19.200  ...                              0

[10 rows x 46 columns]

In [ ]:
data.shape

(8523, 46)

In [ ]:
x = data.drop(['Item_Outlet_Sales'] , axis=1)
y = data['Item_Outlet_Sales']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_x, test_x, train_y ,test_y = train_test_split(x, y , random_state=45 , test_size=0.25)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error as mae

In [ ]:
model1 = LinearRegression()
model1.fit(train_x, train_y)
predict1 = model1.predict(test_x)
k1 = mae(test_y , predict1)
k1
model1.score(test_x, test_y)
predict1

array([3871.13540242, 1516.96828517, 1566.04847491, ..., 3049.18981757,
       4108.52058566, 2331.86011465])

In [ ]:
model2 = KNeighborsRegressor(n_neighbors=6)
model2.fit(train_x , train_y)
predict2 = model2.predict(test_x)
k2 = mae(test_y , predict2)
k2
model2.score(test_x, test_y)

0.4957167826607099

In [ ]:
model3 = DecisionTreeRegressor(max_depth=7)
model3.fit(train_x, train_y)
predict3 = model3.predict(test_x)
model3.score(test_x, test_y)
k3 = mae(test_y , predict3)
k3

800.4744880668871

In [ ]:
from statistics import mean
final_predict = np.array([])
for i in range(0,len(predict1)):
  final_predict=np.append(final_predict , mean([predict1[i] , predict2[i] , predict3[i]]))

In [ ]:
final_predict

array([3469.23116081, 1468.58044172,  762.19241164, ..., 3527.83859252,
       3863.46050189, 1785.57422488])

In [ ]:
k = mae(test_y , final_predict)
k

856.205384739303

In [ ]:
print(k , k1,k2,k3)

856.205384739303 852.1338332233864 874.481653383388 1106.5755342092914

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
print(r2_score(test_y , final_predict) , r2_score(test_y, predict1) , r2_score(test_y , predict2) , r2_score(test_y, predict3))

0.5194499325050792 0.5568213303777416 0.49242562220928 0.12933153798905717

#Weighted Average

In [ ]:
from statistics import mean
final_predict = np.array([])
for i in range(0,len(predict1)):
  final_predict=np.append(final_predict , mean([predict1[i],predict1[i] , predict2[i],predict2[i] , predict3[i]]))

In [ ]:
print(r2_score(test_y , final_predict) , r2_score(test_y, predict1) , r2_score(test_y , predict2) , r2_score(test_y, predict3))

0.565794602110155 0.5568213303777416 0.49571678266070995 0.533894250087285

#Rank Averaging

In [ ]:
m1_score= model1.score(test_x, test_y)
m2_score= model2.score(test_x, test_y)
m3_score= model3.score(test_x, test_y)
m1_score, m2_score, m3_score

(0.5568213303777416, 0.4957167826607099, 0.533894250087285)

In [ ]:
index=[1,2,3]
score = [m1_score , m2_score , m3_score]
rank_eval = pd.DataFrame({
    'index':index,
    'score':score
})

In [ ]:
rank_eval = rank_eval.sort_values('score')

6

In [ ]:
rank_eval['Weight']=rank_eval['index']/rank_eval['index'].sum()

In [ ]:
rank_eval

   index     score    Weight
1      2  0.495717  0.333333
2      3  0.533894  0.500000
0      1  0.556821  0.166667

In [ ]:
rank_predict1 = predict1*float(rank_eval['Weight'][ran_eval['index']==1])
rank_predict2 = predict2*float(rank_eval['Weight'][ran_eval['index']==2])
rank_predict3 = predict3*float(rank_eval['Weight'][ran_eval['index']==3])

In [ ]:
rank_predict_final = rank_predict1+rank_predict2+rank_predict3

In [ ]:
r2_score(test_y , rank_predict_final)

0.5616051857613584