In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data = pd.read_csv('Homeprices.csv')

In [ ]:
data.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [ ]:
data['area_type'].value_counts()
data.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

#Data Cleaning

In [ ]:
data.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [ ]:
data.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [ ]:
data['location'].value_counts()

Whitefield          540
Sarjapur  Road      399
Electronic City     302
Kanakpura Road      273
Thanisandra         234
                   ...
BAGUR                 1
Virudhu Nagar         1
Pillanna Gardens      1
Bapuji Nagar          1
Nirman Layout         1
Name: location, Length: 1305, dtype: int64

In [ ]:
data[data['price']==data.price.max()]

        area_type   availability        location  ... balcony   price BHK
13067  Plot  Area  Ready To Move  Defence Colony  ...     NaN  3600.0  10

[1 rows x 10 columns]

In [ ]:
data['location'].fillna(value=data['location'].mode()[0] , inplace=True)

In [ ]:

data['size'].fillna(value=data['size'].mode()[0] , inplace=True)

In [ ]:
data.isnull().sum()

area_type          0
availability       0
location           0
size               0
society         5502
total_sqft         0
bath               0
balcony          609
price              0
BHK                0
dtype: int64

In [ ]:
data['BHK'] = data['size'].apply(lambda x: int(x.split(' ')[0]))

In [ ]:
data['BHK'].head()

0    2
1    4
2    3
3    3
4    2
Name: BHK, dtype: int64

In [ ]:
data['bath'].value_counts()

2.00000     6908
3.00000     3286
4.00000     1226
1.00000      788
5.00000      524
6.00000      273
7.00000      102
2.69261       73
8.00000       64
9.00000       43
10.00000      13
12.00000       7
11.00000       3
13.00000       3
16.00000       2
27.00000       1
40.00000       1
15.00000       1
18.00000       1
14.00000       1
Name: bath, dtype: int64

In [ ]:
data['bath'].fillna(value=data['bath'].mean(), inplace=True)

In [ ]:
data['total_sqft'].value_counts()

1200    843
1100    221
1500    205
2400    196
600     180
       ...
3124      1
2232      1
964       1
1874      1
3245      1
Name: total_sqft, Length: 2117, dtype: int64

In [ ]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [ ]:
data[~data['total_sqft'].apply(lambda x: is_float(x))]

                  area_type   availability  ...    price BHK
30     Super built-up  Area         19-Dec  ...  186.000   4
56           Built-up  Area         20-Feb  ...  192.000   4
81           Built-up  Area         18-Oct  ...  224.500   4
122    Super built-up  Area         18-Mar  ...  477.000   4
137    Super built-up  Area         19-Mar  ...   54.005   2
...                     ...            ...  ...      ...  ..
12990  Super built-up  Area         18-May  ...  122.000   3
13059  Super built-up  Area  Ready To Move  ...   72.760   2
13240  Super built-up  Area  Ready To Move  ...   52.570   1
13265  Super built-up  Area         20-Sep  ...   59.135   2
13299  Super built-up  Area         18-Dec  ...  154.500   4

[247 rows x 10 columns]

In [ ]:
def convert(x):
  if(len(x.split('-'))==2):
    return (float(x.split('-')[0])+float(x.split('-')[1]))/2
  try:
    return float(x)
  except:
    return None

In [ ]:
convert('1804 - 2273')

2038.5

In [ ]:
convert('3456')

3456.0

In [ ]:
data2 = data.copy()

In [ ]:
data2['total_sqft'] = data['total_sqft'].apply(convert)

In [ ]:
data2['total_sqft'].head()

0    1056.0
1    2600.0
2    1440.0
3    1521.0
4    1200.0
Name: total_sqft, dtype: float64

In [ ]:
data2.head()
data2.isnull().sum()

area_type          0
availability       0
location           0
size               0
society         5502
total_sqft        46
bath               0
balcony          609
price              0
BHK                0
dtype: int64

In [ ]:
data2['total_sqft'].fillna(value=data2['total_sqft'].mean() , inplace=True)

In [ ]:
data2.head()

              area_type   availability  ...   price BHK
0  Super built-up  Area         19-Dec  ...   39.07   2
1            Plot  Area  Ready To Move  ...  120.00   4
2        Built-up  Area  Ready To Move  ...   62.00   3
3  Super built-up  Area  Ready To Move  ...   95.00   3
4  Super built-up  Area  Ready To Move  ...   51.00   2

[5 rows x 10 columns]

In [ ]:
data2['balcony'].fillna(value = data2['balcony'].mode()[0] , inplace=True)

In [ ]:
data2 = data2.drop('availability' , axis=1)

In [ ]:
data2.head()

              area_type                  location  ...   price BHK
0  Super built-up  Area  Electronic City Phase II  ...   39.07   2
1            Plot  Area          Chikka Tirupathi  ...  120.00   4
2        Built-up  Area               Uttarahalli  ...   62.00   3
3  Super built-up  Area        Lingadheeranahalli  ...   95.00   3
4  Super built-up  Area                  Kothanur  ...   51.00   2

[5 rows x 9 columns]

In [ ]:
data2.head()

              area_type                  location  ...   price BHK
0  Super built-up  Area  Electronic City Phase II  ...   39.07   2
1            Plot  Area          Chikka Tirupathi  ...  120.00   4
2        Built-up  Area               Uttarahalli  ...   62.00   3
3  Super built-up  Area        Lingadheeranahalli  ...   95.00   3
4  Super built-up  Area                  Kothanur  ...   51.00   2

[5 rows x 9 columns]

#Dimentionality Reduction

In [ ]:
location_stats1= data2.groupby('location')['location'].agg('count').sort_values(ascending=False)

In [ ]:
location_stats2 = data2['location'].value_counts()

In [ ]:
location_stats2

Whitefield          541
Sarjapur  Road      399
Electronic City     302
Kanakpura Road      273
Thanisandra         234
                   ...
BAGUR                 1
Virudhu Nagar         1
Pillanna Gardens      1
Bapuji Nagar          1
Nirman Layout         1
Name: location, Length: 1305, dtype: int64

In [ ]:
location_stats_lessthan_10 = location_stats2[location_stats2<=10]

In [ ]:

location_stats_lessthan_10

Naganathapura            10
1st Block Koramangala    10
Kalkere                  10
Nagappa Reddy Layout     10
Dodsworth Layout         10
                         ..
BAGUR                     1
Virudhu Nagar             1
Pillanna Gardens          1
Bapuji Nagar              1
Nirman Layout             1
Name: location, Length: 1064, dtype: int64

In [ ]:
data2['location']=data2['location'].apply(lambda x: 'others' if x in location_stats_lessthan_10 else x)

In [ ]:
data2['location'].value_counts()

others              2900
Whitefield           541
Sarjapur  Road       399
Electronic City      302
Kanakpura Road       273
                    ...
Banjara Layout        11
Thyagaraja Nagar      11
Narayanapura          11
Nehru Nagar           11
HAL 2nd Stage         11
Name: location, Length: 242, dtype: int64

In [ ]:
data2['price_per_sqft'] = data2['price']*100000/data2['total_sqft']

In [ ]:
data2.head()

              area_type                  location  ... BHK price_per_sqft
0  Super built-up  Area  Electronic City Phase II  ...   2    3699.810606
1            Plot  Area          Chikka Tirupathi  ...   4    4615.384615
2        Built-up  Area               Uttarahalli  ...   3    4305.555556
3  Super built-up  Area        Lingadheeranahalli  ...   3    6245.890861
4  Super built-up  Area                  Kothanur  ...   2    4250.000000

[5 rows x 10 columns]

#Outlier detection

In [ ]:
data2[data2['total_sqft']/data2['BHK'] <300]

        area_type          location       size  ...  price  BHK  price_per_sqft
9      Plot  Area            others  6 Bedroom  ...  370.0    6    36274.509804
45     Plot  Area        HSR Layout  8 Bedroom  ...  200.0    8    33333.333333
58     Plot  Area     Murugeshpalya  6 Bedroom  ...  150.0    6    10660.980810
68     Plot  Area            others  8 Bedroom  ...   85.0    8     6296.296296
70     Plot  Area            others  3 Bedroom  ...  100.0    3    20000.000000
...           ...               ...        ...  ...    ...  ...             ...
13277  Plot  Area            others  7 Bedroom  ...  218.0    7    15571.428571
13279  Plot  Area            others  6 Bedroom  ...  130.0    6    10833.333333
13281  Plot  Area   Margondanahalli  5 Bedroom  ...  125.0    5     9090.909091
13303  Plot  Area    Vidyaranyapura  5 Bedroom  ...   70.0    5     9043.927649
13311  Plot  Area  Ramamurthy Nagar  7 Bedroom  ...  250.0    7    16666.666667

[748 rows x 10 columns]

In [ ]:
data3 = data2[~(data2['total_sqft']/data2['BHK'] <300)]
data3.shape

(12572, 10)

In [ ]:
data3.head()

              area_type                  location  ... BHK price_per_sqft
0  Super built-up  Area  Electronic City Phase II  ...   2    3699.810606
1            Plot  Area          Chikka Tirupathi  ...   4    4615.384615
2        Built-up  Area               Uttarahalli  ...   3    4305.555556
3  Super built-up  Area        Lingadheeranahalli  ...   3    6245.890861
4  Super built-up  Area                  Kothanur  ...   2    4250.000000

[5 rows x 10 columns]

In [ ]:
def remove_outliers(df):
  df_out = pd.DataFrame()
  for key , sub_df in df.groupby('location'):
    m = np.mean(sub_df.price_per_sqft)
    st = np.std(sub_df.price_per_sqft)
    reduced_df = sub_df[(sub_df.price_per_sqft>(m-st))& (sub_df.price_per_sqft<=(m+st))]
    df_out = pd.concat([df_out , reduced_df] , ignore_index=True)
  return df_out

In [ ]:
data4 = remove_outliers(data3)

In [ ]:
data4.head()
data4.shape

(10351, 10)

In [ ]:
data4['bath'].value_counts()

2.00000     5950
3.00000     2636
4.00000      683
1.00000      622
5.00000      238
6.00000      107
2.69261       56
7.00000       27
8.00000       17
9.00000       10
12.00000       3
13.00000       1
16.00000       1
Name: bath, dtype: int64

In [ ]:
data4[data4['bath']<data4['BHK']+2]

                  area_type              location  ... BHK price_per_sqft
0      Super built-up  Area   Devarachikkanahalli  ...   3    3520.000000
1      Super built-up  Area   Devarachikkanahalli  ...   2    3200.000000
2                Plot  Area   Devarachikkanahalli  ...   2    6916.666667
3      Super built-up  Area   Devarachikkanahalli  ...   2    3418.803419
4      Super built-up  Area   Devarachikkanahalli  ...   3    4561.403509
...                     ...                   ...  ...  ..            ...
10346  Super built-up  Area                others  ...   2    8130.081301
10347            Plot  Area                others  ...   1    3201.970443
10348  Super built-up  Area                others  ...   3    4439.583333
10349  Super built-up  Area                others  ...   2    4465.116279
10350  Super built-up  Area                others  ...   4   11111.111111

[10256 rows x 10 columns]

In [ ]:
data4 = data4[data4['bath']<data4['BHK']+2]

In [ ]:
data4.shape

(10256, 10)

In [ ]:
data5 = data4.drop(['size' ,'price_per_sqft'] , axis=1)

#Machine Learning Model Training (Linear regression)

In [ ]:
data5.head()

              area_type              location  society  ...  balcony  price  BHK
0  Super built-up  Area   Devarachikkanahalli      NaN  ...      3.0   44.0    3
1  Super built-up  Area   Devarachikkanahalli  Clntsrt  ...      2.0   40.0    2
2            Plot  Area   Devarachikkanahalli      NaN  ...      2.0   83.0    2
3  Super built-up  Area   Devarachikkanahalli      NaN  ...      2.0   40.0    2
4  Super built-up  Area   Devarachikkanahalli  Shireru  ...      2.0   65.0    3

[5 rows x 8 columns]

In [ ]:
data5['location'].value_counts()
data5['area_type'].value_counts()

Super built-up  Area    7466
Built-up  Area          1968
Plot  Area               760
Carpet  Area              62
Name: area_type, dtype: int64

#Variable Encoding

In [ ]:
from sklearn.preprocessing import  LabelEncoder
LN = LabelEncoder()

In [ ]:
data5['area_type'] = LN.fit_transform(data5['area_type'])

In [ ]:
data5.head()
data5.dtypes

area_type       int64
location       object
society        object
total_sqft    float64
bath          float64
balcony       float64
price         float64
BHK             int64
dtype: object

In [ ]:
location_dummies = pd.get_dummies(data5.location)

In [ ]:
data6 = pd.get_dummies(data5)

In [ ]:
data6.head()

   area_type  total_sqft  ...  society_i1ncyRe  society_i1rtsCo
0          3      1250.0  ...                0                0
1          3      1250.0  ...                0                0
2          2      1200.0  ...                0                0
3          3      1170.0  ...                0                0
4          3      1425.0  ...                0                0

[5 rows x 2572 columns]

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
LR = LinearRegression()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = data6.drop('price' , axis=1)
y = data6['price']

In [ ]:
train_x, test_x, train_y ,test_y = train_test_split(x, y , random_state = 56 , test_size = 0.25)

In [ ]:
LR.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
LR.score(train_x, train_y)

0.8589280648716677

In [ ]:
test_x.head()
test_y.head()

4888     55.380
4894     55.195
5887     76.000
4548    260.000
8854     52.000
Name: price, dtype: float64

In [ ]:
test_predict = LR.predict(test_x)

In [ ]:
compare = pd.DataFrame({
    'actual':test_y,
    'predited':test_predict
})

In [ ]:
compare.head()

       actual    predited
4888   55.380   60.843612
4894   55.195   61.497835
5887   76.000   70.967367
4548  260.000  274.431392
8854   52.000   68.200714

#Importing Pickle file

In [ ]:
import pickle
with open('Homeprices.pickle' ,'wb') as f:
  pickle.dump(LR , f)

#Importing JSON File

In [ ]:
import json
columns = {
    'data_columns': [col.lower() for col in train_x.columns]
}

with open('Columns.json' , 'w')  as f:
  f.write(json.dumps(columns))