In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [ ]:
data = pd.read_csv('spam.csv')

In [ ]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
data.groupby('Category').describe()

         Message
           count unique                                                top freq
Category
ham         4825   4516                             Sorry, I'll call later   30
spam         747    641  Please call our customer service representativ...    4

In [ ]:
data['spam'] = data['Category'].apply(lambda x:1 if x=='spam' else 0)

In [ ]:
data.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [ ]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y , test_y = train_test_split(data.Message , data.spam , test_size=0.25 )

#To convert message into matrix

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()

In [ ]:
x_train = v.fit_transform(train_x.values)
x_train.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
from sklearn.naive_bayes import MultinomialNB
NB = MultinomialNB()
NB.fit(x_train , train_y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
mails =[
        'hi , how are you? , what is your name.',
        'hurry! hurry! hurry! get 75% off new brand'
]

In [ ]:
email = v.transform(mails)

In [ ]:
NB.predict(email)

array([0, 1])

In [ ]:
from sklearn.pipeline import Pipeline
clf  = Pipeline([
      ('vectorize' , CountVectorizer()),
      ('nb' , MultinomialNB())
])

In [ ]:
clf.fit(train_x, train_y)

Pipeline(memory=None,
         steps=[('vectorize',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [ ]:
clf.score(train_x, train_y)

0.9932998324958124

In [ ]:
clf.score(test_x, test_y)

0.9842067480258435